{% extends 'base.html.twig' %}

{% block title %}Galaxy Swiss Bourdin | Suivi de mes frais{% endblock %}

{% block body %}

<head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3">
                <ul>
                    <br><div class="logo"><a href="index.php"><img src="https://clemtimber.files.wordpress.com/2017/12/logo-gsb.png?w=640" width=50%; height=50%></a></div>
                    <br><li><div class ="user">{{app.user.firstname}}&nbsp;{{app.user.lastname}}</div></li>
                    <li><a href="http://127.0.0.1:8000/">Accueil</a></li>
                    <li><a href="elementsforfaitises">Saisir éléments forfaitisés</a></li>
                    <li><a href="elementshorsforfait">Saisir éléments hors forfait</a></li>
                    <li><a class="active" href="suivifrais">Suivi de mes frais</a></li>
                    <li><a href="logout">Déconnexion</a></li>
                </ul>
            </div>  
            <div class="col-9">
                <br><br><br>
                <h2>Suivi frais</h2>
                <br><br><br><h4>Éléments forfaitisés</h4>
                    <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <br><br><br><thead>
                            <tr>
                                <th>#</th>
                                <th>Forfait étape</th>
                                <th>Frais kilométrique</th>
                                <th>Nuitée hôtel</th>
                                <th>Repas restaurant</th>
                            </tr>
                        </thead>
                        <tbdody>
                        {% for suivi_frais in ElementsForfaitises %}
                            <tr>
                                <td>{{ suivi_frais.id }}</td>
                                <td>{{ suivi_frais.forfaitetape }}</td>
                                <td>{{ suivi_frais.fraiskilometrique }}</td>
                                <td>{{ suivi_frais.nuiteehotel }}</td>
                                <td>{{ suivi_frais.repasrestaurant }}</td>
                            </tr>
                        {% endfor %}
                        </tbdody>
                    </table>
                    </div>
                    <br><br><br><h4>Éléments hors forfait</h4>
                    <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <br><br><br><thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Libellé</th>
                                <th>Montant</th>
                            </tr>
                        </thead>
                        <tbdody>
                        {% for suivi_frais in ElementsHorsForfait %}
                            <tr>
                                <td>{{ suivi_frais.id }}</td>
                                <td>{{ suivi_frais.date|date('m/Y') }}</td>
                                <td>{{ suivi_frais.libelle }}</td>
                                <td>{{ suivi_frais.montant }}</td>
                            </tr>
                        {% endfor %}
                        </tbdody>
                    </table>
                    </div>
            </div>
        </div>
    </div>
    </div>
</body>
</style>
{% endblock %}